/***************************************** Global Settng *****************************************/

body {
    margin: 0;
    padding: 0;
    background-image: url("gun.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
  }
  
h2,
h3 {
    margin: 10px;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

h3 {
    font-size: 16px;
}

p {
    margin: 10px;
}

/***************************************** ICON *****************************************/

#smallicons,#shootericon {
    width: 20px;
    padding-bottom: 3.75px;
    vertical-align: middle;
    display: inline-block;
}

#pistolIcon {
    width: 50px;
    vertical-align: middle;
    padding-right: 10px;
    display: inline-block;
}

#populationIcon{
    width: 40px;
    vertical-align: middle;
    padding-left: 10px;
    display: inline-block;
}

/***************************************** Flex Settings *****************************************/

.mapbox-container, .chartContainer{
    display: flex;
    justify-content:space-between;

} 

 .box-1 {
    display: flex;
    flex-direction: column;
    flex: 0.3;
    align-content: flex-start;
    margin-left:20px;
    margin-top:20px;
}

.box-2 {
    display: flex;
    flex: 0.3;
    flex-direction: column;
    align-self: flex-start;
    padding-left:40px;
    margin-top:20px;
}

.box-3 {
    display: flex;
    flex: 3;
    align-self: flex-start;
    margin-left:20px;
    margin-top:20px;
}
.box-4{
    display: flex;
    flex-direction: column;
    flex: 0.4;
    align-self: flex-start;
    margin-left:20px;
    margin-top:20px; 
    margin-right: 20px;
} 

/***************************************** Box 1 - Legend *****************************************/

.map-overlay {
    /* position: absolute; */
    display: inline-block;
    background: #fff;
    font-family: Arial, sans-serif;
    border-radius: 3px;
}

#population, #ulcode{
    margin: 0;
    text-align: left;
}


#unit {
    margin: 0;
    font-size: 12px;
    text-align: left;
    margin-bottom: 5px;
}

#population_legend {
    /* top: 200px; */
    /* left: 20px; */
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    height: 100%;
    width: 100%;
}

#ulcode_legend {
    /* top: 20px; */
    /* left: 20px; */
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    height: 100%;
    margin-top: 10px;
    width: 100%;
}
.population_legend-key,
.ulcode_legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

/***************************************** Box 2 - Button *****************************************/

#buttons, #backBtn {
    background: #fff;
    top:20px;
    /* left: 200px; */
    border-radius: 3px;
    width: 100%;
    border: 1px solid rgba(163, 163, 163, 0.4);
    font-family: 'Arial', sans-serif;
  }

#buttons a {
    font-size: 14px;
    color: #404040;
    font-weight: bold;
    display: block;
    margin: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(163, 163, 163, 0.4);
    text-align: center;
}
#buttons a:last-child {
border: none;
}

#backBtn {
    height:100%;
    margin-top:20px;
}

#backBtn img {
    padding:10px;
    margin: auto;
}

#backBtn a {
    display: flex;
    align-content: center;
}

/***************************************** Box 3 - Map *****************************************/

#map {
    width:100%;
    height: 420px;
    border-radius: 5px;
}

/***************************************** Box 4 - Information Board *****************************************/

#features {
    height: 265px;
    width: 250px;
}

#info {
    margin-top: 15px;
    text-align: center;
}
 .gender{
    margin-top: 10px;
    height: 150px;
    width: 250px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
 }

/***************************************** Pop Up *****************************************/

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: left;
    font-family: 'Arial', sans-serif;
}

.popup-address {
    color: navy;
    font-weight: bold;
}

.chartContainer{
    height:auto;
}

.chartbox-1{
    flex:1;
    background-color: rgb(68, 65, 65);
    border:2px solid #e67e22;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding:10px;
    text-align: center;
    width:0;
}
#myChart{
    height:350px;
}
.chartbox-2{
    flex:1;
    background-color: rgb(68, 65, 65);
    border:2px solid #e67e22;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding:10px;
    text-align: center;
    width:0;
}
#myChart2{
    height:100%;
}
.chartbox-3{
    flex:1;
    background-color: rgb(68, 65, 65);
    border:2px solid #e67e22;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding:10px;
}

#present{
 text-align: center;
 padding-top: 15px;
}
#present p{
    color: #e67e22;
    line-height: 30px;
}

/***************************************** Sort and Reset Button *****************************************/

 #sort {
    margin-top: 50px;
    margin-bottom: 10px;
}

#reset, #reset2, #sort2 {
    margin-top: 20px;
    margin-bottom: 10px;
}
#reset a, 
#sort a,
#reset2 a, 
#sort2 a{
    text-decoration: none;
    border: 1px solid #e67e22;
    border-radius: 5px;
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    color: #e67e22;
    transition: 0.4s;
}

#reset a:hover, 
#sort a:hover,
#reset2 a:hover, 
#sort2 a:hover{
    color:#fff;
    background: #e67e22;
}

/***************************************** Footer *****************************************/

footer {
    font-size: 15px;
    background: #333;
    color: white;
    margin-top: auto;
    padding:15px;
}
footer p{
    text-align: center;
    margin-top: 15px;
}

footer a{
    color: teal;
    text-decoration: none;
}
